/* Animation de rotation du cercle du loader */
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Animation d'apparition du loader */
@keyframes anim-loader {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	99% {
		width: 50vw;
		height: 50vh;
	}
	100% {
		opacity: 0;
		width: 0px;
		height: 0px;
	}
}

/* Animation d'apparition du menu (pour masquer le menu au début et l'afficher progressivement) */
@keyframes card-hide {
	0% {
		transform: translateX(0px);
		opacity: 0;
	}
	1% {
		transform: translateX(3000px);
	}
	100% {
		transform: translateX(3000px);
	}
}
@keyframes card-anim {
	0% {
		transform: translateX(3000px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	95% {
		opacity: 0.5;
	}
	99% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
/* Animation d'apparition progressive des éléments du menu */
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* Animation des boutons du menu (Entrées, Plats, Desserts) */
.menu-button {
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
}
/* Délai d'animation pour les plats */
.menu-button:nth-child(1) {
	animation-delay: 0.2s;
}
.menu-button:nth-child(2) {
	animation-delay: 0.4s;
}
.menu-button:nth-child(3) {
	animation-delay: 0.6s;
}
/* Animation pour les boutons du menu au survol (hover effect) */
.menu-button:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}
.heart {
    width: 22px;
    height: 21px;
    position: relative; /* Bien positionner le cœur */
    top: 197px; /* Position de l'élément */
    left: 293px; /* Position de l'élément */
    cursor: pointer; /* Ajout d'un curseur en pointeur */
    z-index: 10; /* Assure que l'icône vide est visible en premier */
    background-color: transparent; /* Fond transparent */
}

.heart--card {
    -webkit-text-stroke: 0.05rem #fff; /* Pour l'ombre du texte */
}

.heart--full {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 22px; 
    height: 21px; 
    background: linear-gradient(60deg, #ff79da, #9356dc); /* Gardez le dégradé ici */
    transform: scale(0);
    transition: transform 300ms ease-in-out; /* Transition appliquée au remplissage */
}
.heart:hover {
    background: linear-gradient(60deg, #ff79da, #9356dc); /* Dégradé au survol */
    color: inherit; /* Utilisez la couleur héritée pour le texte ou le coeur */
}

.heart:hover .heart--full {
    transform: scale(1); /* Afficher le cœur rempli au survol */
}

.heart--full:hover {
    background: linear-gradient(30deg, #ff79da, #9356dc);
    background-clip: text; /* Nécessaire pour le contour de texte sur hover */
    color: transparent; /* Texte transparent */
    transition: transform 300ms ease-in-out; /* Transition spécifique */
    z-index: 20; /* Assurez-vous de la superposition correcte */
}

/* Quand on ajoute la classe 'active', le cœur se remplit */
.heart--full.active {
    transform: scale(1);
    z-index: 2;
}
	.restaurants-menu-title-container {
		background-color: #f6f6f6;
		position: relative;
		margin-bottom: 300px;
		border-top-left-radius: 40px;
		border-top-right-radius:40px;
		padding: 2rem 0.75rem 4rem 1.25rem;
		-webkit-box-shadow: 0.8rem 0 0.8rem -1rem #aaa,-0.8rem 0 0.8rem -1rem #aaa;
		box-shadow: 0.8rem 0 0.8rem -1rem #aaa,-0.8rem 0 0.8rem -1rem #aaa;
	}
	
	
/* Effet de transition sur le bouton Commander */
.order-button {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 0.5s ease-out forwards;
	animation-delay: 1.2s;
}

/* Effet de transition sur le bouton Commander */
.order-button {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 0.5s ease-out forwards;
	animation-delay: 1.2s;
}
.order-button:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}

