.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 86, 220, 0.3); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 1s ease-out forwards;
  z-index: 9999; /* Pour s'assurer que le loader est au-dessus */
}

.loader-section .loader {
  border: 16px solid rgba(255, 121, 218, 0.6); /* Bordure externe semi-transparente */
  border-top: 16px solid #9356DC; /* Bordure supérieure */
  border-radius: 50%; /* Cercle */
  width: 50px; 
  height: 50px;
  animation: spin 1s linear infinite; /* Animation de rotation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


