
/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
	.column {
		width: 100%; /* Pour les petites écrans, les colonnes occupent toute la largeur */
	}
}


.card-img  {
	width: 340px !important;
	height: 251px !important;
	border-radius: 15px;
	
}


