// variable.scss

// Définition des couleurs principales
$primary-color: #9356DC;  // Couleur primaire
$secondary-color: #FF79DA; // Couleur secondaire
$tertiary-color: #99E2D0;  // Couleur tertiaire
$text-color: #FFFFFF;      // Couleur du texte (blanc, à adapter si besoin)




