@charset "UTF-8";
/* Variables globales */
/* Import de chaque police de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
/* Styles de base */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
html {
  font-family: "Roboto", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #fff;
}

.restaurants section {
  width: 340px;
  height: 1058px;
  top: 942px;
  left: 17px;
  gap: 18px;
  opacity: 0px;
}

.card-img img {
  width: 346px;
  height: 231px;
  object-fit: cover;
  top: -57px;
  left: -3px;
  gap: 0px;
  opacity: 0px;
}

/* Media query pour les écrans de plus de 768px */
@media screen and (max-width: 1440px) {
  .main-container-buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  /* Contenu principal et cartes */
  .card {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 251px;
    border-radius: 15px;
    margin-top: -17px;
  }
  .card img {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 11.75rem;
    width: 100%;
  }
  .card-nouveau {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #99e2d0;
    color: #278870;
    font-weight: bold;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
  }
  .card-nouveau span {
    width: 80px;
    height: 29px;
    top: 13px;
    left: 248px;
    gap: 0px;
    opacity: 0px;
  }
  /* Autres styles généraux pour le site */
  .footer {
    width: 100%;
    height: auto;
    background-color: rgb(53, 53, 53);
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .footer h3 {
    color: white;
    font-family: "Roboto", italic;
    font-weight: 700;
    font-size: 16px;
  }
  .footer i {
    color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .footer a {
    color: #fff;
  }
  .footer ul {
    padding-left: 0px;
  }
  .footer li {
    height: 25px;
  }
}
/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  html {
    font-size: 32px;
  }
  .main-container {
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title {
    font-family: "Shrikhand", serif;
    font-size: 32px;
    width: auto;
    height: auto;
    opacity: 1;
    color: pink;
  }
  .main-container-buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .main-container-buttons h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container-buttons .buttons-restaurant,
  .container-buttons .buttons-degustez,
  .container-buttons .buttons-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .main-container-buttons p {
    width: 315px;
    height: 46px;
    margin: 20px auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    opacity: 1;
  }
  .localisation-emplacement {
    background-color: #eaeaea;
    padding: 1rem;
    width: 375px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .localisation-emplacement strong {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    opacity: 1;
    margin: 0 0.5rem;
  }
  .localisation-emplacement i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5rem;
  }
  .buttons-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .fas {
    font-size: 20px;
    color: #333;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: rgb(53, 53, 53);
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Styles globaux */
/* Mixins */
/* Import de chaque police de Google Fonts */
/* Styles de base */
html {
  font-family: "Roboto", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #fff;
}

.restaurants section {
  width: 340px;
  height: 1058px;
  top: 942px;
  left: 17px;
  gap: 18px;
  opacity: 0px;
}

.card-img img {
  width: 346px;
  height: 231px;
  object-fit: cover;
  top: -57px;
  left: -3px;
  gap: 0px;
  opacity: 0px;
}

/* Media query pour les écrans de plus de 768px */
@media screen and (max-width: 1440px) {
  .main-container-buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  /* Contenu principal et cartes */
  .card {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 251px;
    border-radius: 15px;
    margin-top: -17px;
  }
  .card img {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 11.75rem;
    max-width: 768px;
  }
  .card-nouveau {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #99e2d0;
    color: #278870;
    font-weight: bold;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
  }
  .card-nouveau span {
    width: 80px;
    height: 29px;
    top: 13px;
    left: 248px;
    gap: 0px;
    opacity: 0px;
  }
  /* Autres styles généraux pour le site */
  .footer {
    width: 100%;
    height: auto;
    background-color: rgb(53, 53, 53);
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .footer h3 {
    color: white;
    font-family: "Roboto", italic;
    font-weight: 700;
    font-size: 16px;
  }
  .footer i {
    color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .footer a {
    color: #fff;
  }
  .footer ul {
    padding-left: 0px;
  }
  .footer li {
    height: 25px;
  }
}
/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  html {
    font-size: 32px;
  }
  .main-container {
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title {
    font-family: "Shrikhand", serif;
    font-size: 32px;
    width: auto;
    height: auto;
    opacity: 1;
    color: pink;
  }
  .main-container-buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .main-container-buttons h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container-buttons .buttons-restaurant,
  .container-buttons .buttons-degustez,
  .container-buttons .buttons-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .main-container-buttons p {
    width: 315px;
    height: 46px;
    margin: 20px auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    opacity: 1;
  }
  .localisation-emplacement {
    background-color: #eaeaea;
    padding: 1rem;
    width: 375px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .localisation-emplacement strong {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    opacity: 1;
    margin: 0 0.5rem;
  }
  .localisation-emplacement i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5rem;
  }
  .buttons-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .fas {
    font-size: 20px;
    color: #333;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: rgb(53, 53, 53);
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Media Query pour écrans de moins de 768px */
@media screen and (max-width: 768px) {
  .main-container-buttons {
    flex-direction: column;
  }
  .menu-buttons {
    gap: 10px;
  }
  .buttons-explorer {
    width: 30%;
  }
  .buttons-explorer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
/* Styles pour le conteneur principal des boutons */
.main-container-buttons {
  background-color: #f6f6f6;
  width: 375px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttons-explorer {
  width: 218px;
  height: 50px;
  color: #fff;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  outline: none;
  font-size: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.buttons-explorer:hover {
  opacity: 0.8;
  transform: translateY(-0.1rem);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #5e5e5e;
}

.buttons-explorer:active {
  transform: translateY(0rem);
  opacity: 1;
}

.buttons-explorer:focus {
  outline: 2px solid #9356dc;
  outline-offset: 2px;
}

/* Styles pour les textes des boutons */
.buttons span {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 24px;
  color: #000;
}

.buttons i {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: #000;
  margin: 10px 0;
}

.buttons p {
  color: #000;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

/* Styles pour les boutons spécifiques */
.container-buttons .buttons-restaurant,
.container-buttons .buttons-degustez,
.container-buttons .buttons-menu {
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #000;
  border: 2px solid #e8e8e8;
  background: #f5f5f5;
  position: relative;
}
.container-buttons .buttons-restaurant:hover,
.container-buttons .buttons-degustez:hover,
.container-buttons .buttons-menu:hover {
  color: #9356dc;
}
.container-buttons .buttons-restaurant:hover::after,
.container-buttons .buttons-degustez:hover::after,
.container-buttons .buttons-menu:hover::after {
  opacity: 1;
}
.container-buttons .buttons-restaurant::after,
.container-buttons .buttons-degustez::after,
.container-buttons .buttons-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-color: rgba(147, 86, 220, 0.2);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* Applique l'animation au survol */
.container-buttons .buttons-restaurant:hover::after,
.container-buttons .buttons-degustez:hover::after,
.container-buttons .buttons-menu:hover::after {
  opacity: 1;
}

/* Style des boutons */
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* Style général des boutons */
.buttons {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

/* Ciblage des cercles dans chaque bouton */
.buttons-restaurant .circle,
.buttons-menu .circle,
.buttons-degustez .circle {
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 0.85rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -2rem; /* Positionnement à gauche du bouton */
  top: 50%;
  transform: translateY(-50%);
}

/* Couleur de fond pour les boutons de fonctionnement */
.buttons-fonctionnement {
  background-color: #f5f5f5;
}

/* Style pour le texte des boutons */
.button-menu strong {
  font-size: 1.2rem;
  color: black;
}

.button-menu .price {
  color: black;
  font-size: 1rem;
  margin-top: 5px;
}

button {
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
}

/* Styles des boutons */
.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 86, 220, 0.3); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 1s ease-out forwards;
  z-index: 9999; /* Pour s'assurer que le loader est au-dessus */
}

.loader-section .loader {
  border: 16px solid rgba(255, 121, 218, 0.6); /* Bordure externe semi-transparente */
  border-top: 16px solid #9356DC; /* Bordure supérieure */
  border-radius: 50%; /* Cercle */
  width: 350px; /* Taille augmentée */
  height: 350px;
  animation: spin 1s linear infinite; /* Animation de rotation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Loader */
/* Animation de rotation du cercle du loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation d'apparition du loader */
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
/* Animation d'apparition du menu (pour masquer le menu au début et l'afficher progressivement) */
@keyframes card-hide {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  1% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(3000px);
  }
}
@keyframes card-anim {
  0% {
    transform: translateX(3000px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  99% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* Animation d'apparition progressive des éléments du menu */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation des boutons du menu (Entrées, Plats, Desserts) */
.menu-button {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

/* Délai d'animation pour les plats */
.menu-button:nth-child(1) {
  animation-delay: 0.2s;
}

.menu-button:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-button:nth-child(3) {
  animation-delay: 0.6s;
}

/* Animation pour les boutons du menu au survol (hover effect) */
.menu-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.heart-container {
  position: relative;
}

.heart--card {
  -webkit-text-stroke: 0.05rem #fff;
}

.heart--menu {
  -webkit-text-stroke: 0.05rem #f6f6f6;
}

.heart:hover {
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
  background: -o-linear-gradient(60deg, #ff79da, #9356dc);
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0;
}

.heart:hover + .heart-full {
  transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.heart-full {
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
  background: -o-linear-gradient(60deg, #ff79da, #9356dc);
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

/* Effet de transition sur le bouton Commander */
.order-button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 1.2s;
}

.order-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Animations */
/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  .column {
    width: 100%; /* Pour les petites écrans, les colonnes occupent toute la largeur */
  }
}
.restaurants-photo img {
  width: 346px !important;
  height: 231px !important;
  object-fit: cover;
}

/* Styles des photos des restaurants */
.header {
  width: 375px;
  height: 63px;
}

/* Header */
.menu-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item .checkmark {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.menu-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=main.css.map */
