  /* Animation de rotation du cercle du loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation d'apparition du loader */
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

/* animations pour le coeur */


@keyframes heart-beat {
  0% {
    transform: scale(1); /* Taille originale */
  }
  50% {
    transform: scale(1.2); /* Augmentation de la taille à 120% */
  }
  100% {
    transform: scale(1); /* Retour à la taille originale */
  }
}

.heart-container {

  display: inline-block;
  animation: heart-beat 1s 1 alternate;
  }

.heart {
  position: absolute;
  top:  0;
  right: 0;
  cursor: pointer;
  z-index: 1
}

.heart--card {
  -webkit-text-stroke: 0.05rem #fff
}

.heart--menu {
  -webkit-text-stroke: 0.05rem #f6f6f6
}

.heart:hover {
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
  background: -o-linear-gradient(60deg, #ff79da, #9356dc);
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0
}

.heart:hover+.heart-full {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.heart-full {
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
  background: -o-linear-gradient(60deg, #ff79da, #9356dc);
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out
}

