// buttons.scss
$button-hover-color: lighten(#9356DC, 10%); // Définition de la variable button-hover-color

button {
  background-color: #9356dc;
  color: #FF79DA;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: $button-hover-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

// Définition des mixins pour chaque couleur
@mixin primary-color() {
  background-color: #9356DC; // Couleur principale
}

@mixin secondary-color() {
  color: #FF79DA; // Couleur secondaire
}

@mixin tertiaire-color() {
  background-color: #99E2D0; // Couleur tertiaire
}
@mixin text-color() {
  color: #FFFFFF; // Couleur du texte
}

@mixin button-hover-color() {
  background-color: $button-hover-color; // Utilisation de la variable button-hover-color
}

.button {
  @include primary-color; // Applique la couleur principale
  @include text-color; // Applique la couleur du texte
  
  &:hover {
    @include button-hover-color(); // Utilise la mixin button-hover-color
  }
}
