// buttons.scss
@import "variable"; // Importer les variables
@import "mixins"; // Importer les mixins
@import "style"; // Importer le style

button {
  @include primary-color; /* Applique la couleur principale */
  @include text-color; /* Applique la couleur du texte */

  &:hover { // Utilisation de & pour cibler le bouton au survol
    @include button-hover-color(); // Utiliser la mixin button-hover-color
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

// Styles pour le conteneur principal des boutons
.main-container-buttons  {
  background-color: #F6F6F6;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

}


/* Bouton centré avec les styles */
.buttons-explorer {
  color: #fff; /* Texte en blanc */
  background: linear-gradient(
      170deg,
      #FF79DA,
      #9356DC
  ); /* Dégradé de couleur */
  border: none;
  outline: none;
  font-size: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa; /* Ombre du bouton */
  padding: 1rem 2rem;
  border-radius: 1.5rem; /* Bords arrondis */
  cursor: pointer;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out,
      box-shadow 300ms ease-in-out; /* Transition fluide */
  &:hover {
      opacity: 0.8; 
      transform: translateY(-0.1rem); 
      box-shadow: 0.1rem 0.1rem 0.5rem 0 #5E5E5E; /* Ombre plus foncée */
  }

  &:active {
      transform: translateY(0rem); 
      opacity: 1; 
  }
}

// Styles pour les textes des boutons
.buttons span {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 24px;
  color: #000;
}

.buttons i {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: #000; 
  margin: 10px 0;
}

.buttons p {
  color: #000;
  display: flex;
  flex-direction: row; 
  text-align: center;
  font-size: 16px;
  margin: 0;
}

// Style pour chaque bouton à l'intérieur de container-buttons
.container-buttons .buttons-restaurant,
.container-buttons .buttons-degustez,
.container-buttons .buttons-menu {
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #000;
  border: 2px solid #e8e8e8;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  position: relative; // Pour positionner correctement l'élément ::after 
}

// Changement de couleur du texte au survol 
.container-buttons .buttons-restaurant:hover,
.container-buttons .buttons-degustez:hover,
.container-buttons .buttons-menu:hover {
  color: #9356dc;
}

// Animation au survol 
.container-buttons .buttons-restaurant::after,
.container-buttons .buttons-degustez::after,
.container-buttons .buttons-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-color: rgba(147, 86, 220, 0.2);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* Applique l'animation au survol */
.container-buttons .buttons-restaurant:hover::after,
.container-buttons .buttons-degustez:hover::after,
.container-buttons .buttons-menu:hover::after {
  opacity: 1;
}

// Style des boutons 
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; 
  flex-wrap: wrap;
}

// Style général des boutons 
.buttons {
  display: inline-block; 
  padding: 10px 20px; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 25px; 
  margin-top: 10px; 
  transition: background-color 0.3s; // Transition pour changement de couleur 
  font-size: 1rem; 
}
/* Positionnement relatif pour les boutons */
.buttons-restaurant,
.buttons-menu,
.buttons-degustez {
  position: relative; /* Nécessaire pour positionner les cercles en absolu */
}

/* Ciblage des cercles dans chaque bouton */
.buttons-restaurant .circle,
.buttons-menu .circle, 
.buttons-degustez .circle {
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 0.85rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer le texte dans le cercle */
  position: absolute;
  left: -2rem; /* Positionnement à gauche du bouton */
  top: 50%;
  transform: translateY(-50%); /* Centrage vertical */
}



// Couleur de fond pour les boutons de fonctionnement 
.buttons-fonctionnement {
  background-color: white; 
}

// Styles pour les titres et le prix 
.button-menu strong {
  font-size: 1.2rem; 
  color: black; 
}

// Fix pour la balise <price>, qui devrait être <span> ou une autre balise valide
.button-menu price {
  color: black; 
  font-weight: bold; 
  font-size: 1rem;
  margin-top: 5px; 
}






