@charset "UTF-8";
/* Import de chaque police de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
/* Media query pour les écrans de 1000px à 1400px */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  /* Ajoutez ici les styles spécifiques à cette plage de taille d'écran */
}
html {
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  h1 {
    font-family: "Shrikhand", serif;
    width: 197px;
    height: 36px;
    top: 14px;
    left: 89px;
    padding: 0px 19px 0px 16px;
    opacity: 0px;
    display: flex;
    justify-content: center;
  }
  h2 {
    width: 275px;
    height: 31px;
    top: 448px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: weight 700;
    line-height: 28.13px;
    text-align: left;
  }
  .main-container h1 {
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    gap: 10px;
    font-family: "Shrikhand", serif;
  }
  .main-container-buttons {
    background-color: #f6f6f6;
  }
  .main-container-buttons h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: 20px auto; /* Centre horizontalement avec auto */
    text-align: center; /* Centre le texte à l'intérieur */
    display: flex; /* Utilisation de flexbox pour un meilleur contrôle */
    align-items: center; /* Centre verticalement le texte */
    justify-content: center; /* Centre horizontalement le texte */
    opacity: 1; /* Assure que l'élément est visible */
  }
  .container-buttons {
    display: flex;
    flex-direction: column;
  }
  .main-container-buttons p {
    width: 315px;
    height: 46px;
    margin: 20px auto; /* Centrer horizontalement avec auto */
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center; /* Centre le texte à l'intérieur du paragraphe */
    opacity: 1; /* Assure que l'élément est visible */
  }
  .localisation-emplacement {
    background-color: #eaeaea;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement les éléments */
  }
  .localisation-emplacement strong {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    opacity: 1;
    margin: 0 0.5rem; /* Espace entre l'icône et le texte */
  }
  .localisation-emplacement i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-size: contain; /* Assure que l'image s'adapte au conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans l'élément */
    margin-right: 0.5rem; /* Espace entre l'icône et le texte */
  }
  /* Conteneur pour chaque carte de restaurant */
  .card {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 251px;
    border-radius: 15px;
    margin-top: -17px;
  }
  /* Styles pour les images des cartes */
  .card img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 11.75rem;
    width: 100%;
  }
  /* Autres styles généraux pour le site */
  .footer {
    width: 375px;
    height: 186px;
    background-color: rgb(53, 53, 53);
    text-align: left;
    color: #fff;
  }
  /* Pied de page */
  .footer h3 {
    color: white;
    font-family: "Roboto", italic;
    font-weight: 700;
    font-size: 16px;
  }
  .footer i {
    color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .footer a {
    color: #fff;
  }
  .footer ul {
    padding-left: 0px;
  }
  .footer li {
    height: 25px;
  }
}
button {
  background-color: #9356DC;
  /* Applique la couleur principale */
  color: #FFFFFF;
  /* Applique la couleur du texte */
}
button:hover {
  background-color: #ae80e5;
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-buttons-explorer {
  width: 218px;
  height: 50px;
  opacity: 0;
}

/* Bouton centré avec les styles */
.buttons-explorer {
  color: #fff; /* Texte en blanc */
  background: linear-gradient(170deg, #ff79da, #9356dc); /* Dégradé de couleur */
  border: none;
  outline: none;
  font-size: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa; /* Ombre du bouton */
  padding: 1rem 2rem;
  border-radius: 1.5rem; /* Bords arrondis */
  cursor: pointer;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out; /* Transition fluide */
}
.buttons-explorer:hover {
  opacity: 0.8; /* Diminution de l'opacité */
  transform: translateY(-0.1rem); /* Légère élévation au survol */
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #5e5e5e; /* Ombre plus foncée */
}
.buttons-explorer:active {
  transform: translateY(0rem); /* Retour à la position initiale */
  opacity: 1; /* Opacité normale lors du clic */
}

.buttons span {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 24px;
  color: #000;
}

.buttons i {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: #000;
  margin: 10px 0;
}

.buttons p {
  color: #000;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.container-buttons .buttons-restaurant,
.container-buttons .buttons-degustez,
.container-buttons .buttons-menu {
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #000;
  border: 2px solid #e8e8e8;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  position: relative;
}

.container-buttons .buttons-restaurant:hover,
.container-buttons .buttons-degustez:hover,
.container-buttons .buttons-menu:hover {
  color: #9356dc;
}

.container-buttons .buttons-restaurant::after,
.container-buttons .buttons-degustez::after,
.container-buttons .buttons-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-color: rgba(147, 86, 220, 0.2);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* Applique l'animation au survol */
.container-buttons .buttons-restaurant:hover::after,
.container-buttons .buttons-degustez:hover::after,
.container-buttons .buttons-menu:hover::after {
  opacity: 1;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.buttons {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 10px;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.buttons-fonctionnement {
  background-color: white;
}

.button-menu strong {
  font-size: 1.2rem;
  color: black;
}

.button-menu price {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5px;
}

.buttons-restaurant,
.buttons-menu,
.buttons-degustez {
  position: absolute;
}

.buttons-restaurant span,
.buttons-menu span,
.buttons-degustez span {
  background-color: #9356dc; /* Couleur de fond du cercle */
  border-radius: 50%; /* Forme circulaire */
  color: #fff; /* Couleur du texte */
  font-size: 85%; /* Taille du texte */
  padding: 0.375rem 0.625rem; /* Espacement intérieur du cercle */
  position: absolute; /* Positionnement absolu du cercle */
  left: 50%; /* Centrer horizontalement par rapport au bouton parent */
  bottom: 50%; /* Positionner le cercle au bas du bouton */
  transform: translate(-50%, 50%); /* Ajustement pour centrer le cercle en X et Y */
  z-index: 1; /* Placer le cercle au-dessus des autres éléments */
}/*# sourceMappingURL=buttons.css.map */