// buttons.scss
@import 'variables'; // Importer les variables
@import 'mixins'; // Importer les mixins

button {
  @include primary-color; // Appliquer la couleur principale
  @include text-color; // Appliquer la couleur du texte
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    @include button-hover-color(); // Utiliser la mixin button-hover-color
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.button {
  @include primary-color; // Applique la couleur principale
  @include text-color; // Applique la couleur du texte
  
  &:hover {
    @include button-hover-color(); // Utilise la mixin button-hover-color
  }
}
