@charset "UTF-8";
/* Variables globales */
/* Import de chaque police de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
/* Media query pour les écrans de 1000px à 1400px */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  /* Ajoutez ici les styles spécifiques à cette plage de taille d'écran */
}

html {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  h1 {
    font-family: "Shrikhand", serif;
    width: 197px;
    height: 36px;
    top: 14px;
    left: 89px;
    padding: 0px 19px 0px 16px;
    opacity: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    width: 275px;
    height: 31px;
    top: 448px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: weight 700;
    line-height: 28.13px;
    text-align: left;
  }
  .main-container h1 {
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    gap: 10px;
    font-family: "Shrikhand", serif;
  }
  .main-container-buttons {
    background-color: #f6f6f6;
  }
  .main-container-buttons h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: 20px auto;
    /* Centre horizontalement avec auto */
    text-align: center;
    /* Centre le texte à l'intérieur */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Utilisation de flexbox pour un meilleur contrôle */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement le texte */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Centre horizontalement le texte */
    opacity: 1;
    /* Assure que l'élément est visible */
  }
  .container-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container-buttons p {
    width: 315px;
    height: 46px;
    margin: 20px auto;
    /* Centrer horizontalement avec auto */
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    /* Centre le texte à l'intérieur du paragraphe */
    opacity: 1;
    /* Assure que l'élément est visible */
  }
  .localisation-emplacement {
    background-color: #eaeaea;
    padding: 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement les éléments */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Centre horizontalement les éléments */
  }
  .localisation-emplacement strong {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    opacity: 1;
    margin: 0 0.5rem;
    /* Espace entre l'icône et le texte */
  }
  .localisation-emplacement i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-size: contain;
    /* Assure que l'image s'adapte au conteneur */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
    background-position: center;
    /* Centre l'image dans l'élément */
    margin-right: 0.5rem;
    /* Espace entre l'icône et le texte */
  }
  .buttons-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre les éléments verticalement */
    gap: 10px;
    /* Ajoute un espacement entre le cercle et l'icône */
  }
  .buttons-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement les éléments */
    gap: 10px;
    /* Espacement entre le cercle et l'icône */
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Aligne verticalement les éléments */
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    float: left;
    /* Positionne le cercle à gauche */
    margin-right: 10px;
    /* Espace entre le cercle et le bouton */
  }
  .fas {
    font-size: 20px;
    /* Taille de l'icône */
    color: #333;
    /* Couleur de l'icône */
  }
  .fas {
    font-size: 20px;
    /* Taille de l'icône */
    color: #333;
    /* Couleur de l'icône */
  }
}

/* Conteneur pour chaque carte de restaurant */
.card {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  margin-top: -17px;
}

/* Styles pour les images des cartes */
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 11.75rem;
  width: 100%;
}

/* Autres styles généraux pour le site */
.footer {
  width: 375px;
  height: 186px;
  background-color: #353535;
  text-align: left;
  color: #fff;
}

/* Pied de page */
.footer h3 {
  color: white;
  font-family: "Roboto", italic;
  font-weight: 700;
  font-size: 16px;
}

.footer i {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
}

.footer ul {
  padding-left: 0px;
}

.footer li {
  height: 25px;
}

/* Styles globaux */
/* Mixins */
/* Import de chaque police de Google Fonts */
/* Media query pour les écrans de 1000px à 1400px */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  /* Ajoutez ici les styles spécifiques à cette plage de taille d'écran */
}

html {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  h1 {
    font-family: "Shrikhand", serif;
    width: 197px;
    height: 36px;
    top: 14px;
    left: 89px;
    padding: 0px 19px 0px 16px;
    opacity: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    width: 275px;
    height: 31px;
    top: 448px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: weight 700;
    line-height: 28.13px;
    text-align: left;
  }
  .main-container h1 {
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    gap: 10px;
    font-family: "Shrikhand", serif;
  }
  .main-container-buttons {
    background-color: #f6f6f6;
  }
  .main-container-buttons h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: 20px auto;
    /* Centre horizontalement avec auto */
    text-align: center;
    /* Centre le texte à l'intérieur */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Utilisation de flexbox pour un meilleur contrôle */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement le texte */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Centre horizontalement le texte */
    opacity: 1;
    /* Assure que l'élément est visible */
  }
  .container-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container-buttons p {
    width: 315px;
    height: 46px;
    margin: 20px auto;
    /* Centrer horizontalement avec auto */
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    /* Centre le texte à l'intérieur du paragraphe */
    opacity: 1;
    /* Assure que l'élément est visible */
  }
  .localisation-emplacement {
    background-color: #eaeaea;
    padding: 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement les éléments */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Centre horizontalement les éléments */
  }
  .localisation-emplacement strong {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    opacity: 1;
    margin: 0 0.5rem;
    /* Espace entre l'icône et le texte */
  }
  .localisation-emplacement i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-size: contain;
    /* Assure que l'image s'adapte au conteneur */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
    background-position: center;
    /* Centre l'image dans l'élément */
    margin-right: 0.5rem;
    /* Espace entre l'icône et le texte */
  }
  .buttons-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre les éléments verticalement */
    gap: 10px;
    /* Ajoute un espacement entre le cercle et l'icône */
  }
  .buttons-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centre verticalement les éléments */
    gap: 10px;
    /* Espacement entre le cercle et l'icône */
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Aligne verticalement les éléments */
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    float: left;
    /* Positionne le cercle à gauche */
    margin-right: 10px;
    /* Espace entre le cercle et le bouton */
  }
  .fas {
    font-size: 20px;
    /* Taille de l'icône */
    color: #333;
    /* Couleur de l'icône */
  }
  .fas {
    font-size: 20px;
    /* Taille de l'icône */
    color: #333;
    /* Couleur de l'icône */
  }
}

/* Conteneur pour chaque carte de restaurant */
.card {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  margin-top: -17px;
}

/* Styles pour les images des cartes */
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 11.75rem;
  width: 100%;
}

/* Autres styles généraux pour le site */
.footer {
  width: 375px;
  height: 186px;
  background-color: #353535;
  text-align: left;
  color: #fff;
}

/* Pied de page */
.footer h3 {
  color: white;
  font-family: "Roboto", italic;
  font-weight: 700;
  font-size: 16px;
}

.footer i {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
}

.footer ul {
  padding-left: 0px;
}

.footer li {
  height: 25px;
}

button {
  background-color: #9356DC;
  /* Applique la couleur principale */
  color: #FFFFFF;
  /* Applique la couleur du texte */
}

button:hover {
  background-color: #ae80e5;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container-buttons {
  background-color: #F6F6F6;
  margin-top: 20px;
  width: 100%;
}

.buttons-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button .buttons-explorer {
  width: 218px;
  height: 50px;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Bouton centré avec les styles */
.buttons-explorer {
  color: #fff;
  /* Texte en blanc */
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  /* Dégradé de couleur */
  border: none;
  outline: none;
  font-size: 100%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa;
          box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaa;
  /* Ombre du bouton */
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  /* Bords arrondis */
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  /* Transition fluide */
}

.buttons-explorer:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0 #5E5E5E;
          box-shadow: 0.1rem 0.1rem 0.5rem 0 #5E5E5E;
  /* Ombre plus foncée */
}

.buttons-explorer:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
}

.buttons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  font-size: 24px;
  color: #000;
}

.buttons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 32px;
  color: #000;
  margin: 10px 0;
}

.buttons p {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.container-buttons .buttons-restaurant,
.container-buttons .buttons-degustez,
.container-buttons .buttons-menu {
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000;
  border: 2px solid #e8e8e8;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  position: relative;
}

.container-buttons .buttons-restaurant:hover,
.container-buttons .buttons-degustez:hover,
.container-buttons .buttons-menu:hover {
  color: #9356dc;
}

.container-buttons .buttons-restaurant::after,
.container-buttons .buttons-degustez::after,
.container-buttons .buttons-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-color: rgba(147, 86, 220, 0.2);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

/* Applique l'animation au survol */
.container-buttons .buttons-restaurant:hover::after,
.container-buttons .buttons-degustez:hover::after,
.container-buttons .buttons-menu:hover::after {
  opacity: 1;
}

.menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.buttons-fonctionnement {
  background-color: white;
}

.button-menu strong {
  font-size: 1.2rem;
  color: black;
}

.button-menu price {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5px;
}

.buttons-restaurant,
.buttons-menu,
.buttons-degustez {
  position: absolute;
}

.buttons-restaurant span,
.buttons-menu span,
.buttons-degustez span {
  background-color: #9356dc;
  /* Couleur de fond du cercle */
  border-radius: 50%;
  /* Forme circulaire */
  color: #fff;
  /* Couleur du texte */
  font-size: 85%;
  /* Taille du texte */
  padding: 0.375rem 0.625rem;
  /* Espacement intérieur du cercle */
  position: absolute;
  /* Positionnement absolu du cercle */
  left: 50%;
  /* Centrer horizontalement par rapport au bouton parent */
  bottom: 50%;
  /* Positionner le cercle au bas du bouton */
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  /* Ajustement pour centrer le cercle en X et Y */
  z-index: 1;
  /* Placer le cercle au-dessus des autres éléments */
}

/* Styles des boutons */
.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 86, 220, 0.3);
  /* Fond semi-transparent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loaderFadeOut 1s ease-out forwards;
          animation: loaderFadeOut 1s ease-out forwards;
  z-index: 9999;
  /* Pour s'assurer que le loader est au-dessus */
}

.loader-section .loader {
  border: 16px solid rgba(255, 121, 218, 0.6);
  /* Bordure externe semi-transparente */
  border-top: 16px solid #9356DC;
  /* Bordure supérieure */
  border-radius: 50%;
  /* Cercle */
  width: 350px;
  /* Taille augmentée */
  height: 350px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  /* Animation de rotation */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Loader */
/* Animation de rotation du cercle du loader */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Animation d'apparition du loader */
@-webkit-keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

/* Animation d'apparition du menu (pour masquer le menu au début et l'afficher progressivement) */
@-webkit-keyframes card-hide {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  100% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}
@keyframes card-hide {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  100% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@-webkit-keyframes card-anim {
  0% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  99% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes card-anim {
  0% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  99% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

/* Animation d'apparition progressive des éléments du menu */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Animation des boutons du menu (Entrées, Plats, Desserts) */
.menu-button {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-out forwards;
          animation: fadeIn 1s ease-out forwards;
}

/* Délai d'animation pour les plats */
.menu-button:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu-button:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu-button:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

/* Animation pour les boutons du menu au survol (hover effect) */
.menu-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* Animation pour le coeur au-dessus du titre */
.heart-container {
  display: inline-block;
  -webkit-animation: heart-beat 1s infinite alternate;
          animation: heart-beat 1s infinite alternate;
}

/* animations pour le coeur */
@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heart-container {
  display: inline-block;
  -webkit-animation: heart-beat 1s infinite alternate;
          animation: heart-beat 1s infinite alternate;
}

.heart:hover {
  background: -webkit-linear-gradient(60deg, #ff79da, #9356dc);
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.heart--card {
  -webkit-text-stroke: 0.05rem #fff;
}

.heart--menu {
  -webkit-text-stroke: 0.05rem #f6f6f6;
}

.heart:hover {
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0;
}

.heart:hover + .heart-full {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.heart-full {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(30deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.heart-animation .checkmark {
  position: relative;
  display: inline-block;
  width: 2rem;
}

/* Effet de transition sur le bouton Commander */
.order-button {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-animation: fadeIn 0.5s ease-out forwards;
          animation: fadeIn 0.5s ease-out forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.order-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* Animations */
/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    /* Pour les petites écrans, les colonnes occupent toute la largeur */
  }
}

.restaurants-photo img {
  width: 346px !important;
  height: 231px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Styles des photos des restaurants */
.header {
  size: 30px;
  font-size: 400;
  font-style: italic;
  text-align: center;
}

/* Header */
.menu-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: fadeIn 0.5s ease-out;
          animation: fadeIn 0.5s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-item .checkmark {
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.menu-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Menu */
/*# sourceMappingURL=main.css.map */