@charset "UTF-8";
.button {
  background-color: #9356DC;
  color: #FFFFFF;
}
.button:hover {
  background-color: #9356DC;
  background-color: #ae80e5;
}

/* Animation de remplissage du coeur */
@keyframes anim-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Animation de rotation du cercle du loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation d'apparition du loader */
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
/* Animation d'apparition du menu */
@keyframes card-hide {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  1% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(3000px);
  }
}
@keyframes card-anim {
  0% {
    transform: translateX(3000px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  99% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
button {
  background-color: #9356dc;
  color: #FF79DA;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
button:hover {
  background-color: #ae80e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #9356DC;
  color: #FFFFFF;
}
.button:hover {
  background-color: #ae80e5;
}

.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 1s ease-out forwards;
}

.loader-section .loader {
  border: 8px solid #FF79DA;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.card img {
  width: 100%; /* Remplit toute la largeur de l'élément parent */
  height: auto; /* Ajuste la hauteur automatiquement pour garder le ratio d'aspect */
  max-width: 375px; /* Largeur maximale */
  max-height: 275px; /* Hauteur maximale */
  -o-object-fit: cover;
     object-fit: cover; /* Maintient le ratio sans déformer l'image */
  border-radius: 8px;
}

.header {
  font-size: 2em;
}

.menu-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}
.menu-item:hover {
  transform: translateY(-5px);
}
.menu-item .checkmark {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 50%;
  transition: transform 0.3s;
  visibility: hidden;
}
.menu-item .checkmark::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff79da;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item:hover .checkmark {
  visibility: visible;
  transform: translateX(-100%);
}

.menu-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-group {
  animation-delay: 0.2s;
}
.menu-group:nth-child(2) {
  animation-delay: 0.4s;
}
.menu-group:nth-child(3) {
  animation-delay: 0.6s;
}/*# sourceMappingURL=main.css.map */