// utilisé pour chaque plat dans le menu
.menu-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item .checkmark {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  visibility: hidden;
}
.menu-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
