// Définition des mixins pour chaque couleur
@mixin primary-color() {
    background-color: #9356DC; // Couleur principale
  }
  
  @mixin secondary-color() {
    color: #FF79DA; // Couleur secondaire
  }
  
  @mixin tertiaire-color() {
    background-color: #99E2D0; // Couleur tertiaire
  }
  
  @mixin text-color() {
    color: #FFFFFF; // Couleur du texte
  }
  
  @mixin button-hover-color() {
    background-color: lighten(#9356DC, 10%); // Couleur de survol du bouton
  }
  
  
  .button {
    @include primary-color; // Applique la couleur principale
    @include text-color; // Applique la couleur du texte
    
    &:hover {
      @include button-hover-color; // Applique la couleur de survol
    }
  }
  
  