// Import de chaque police de Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
	.column {
		width: 100%; /* Pour les petites écrans, les colonnes occupent toute la largeur */
	}
}

/* Styles globaux pour le corps du document */
body  h2
 {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif; // Applique Roboto comme police principale
  font-size: 17px;
  color:#000000;
 }

h3 {
  font-family: "Roboto", sans-serif; // Applique Roboto comme police principale
  font-weight: 700;
  font-size: 18px;
   color:white;
}
p {
  font-family: "Roboto", sans-serif; // Applique Roboto comme police principale
  font-weight: 300;
  font-size: 17px;
   color:#000000;
}

h1 {
	font-family: "Shrikhand", italic; // Applique Shrikhand pour les titres
  
}

li {
	list-style-type: none;
}

/* Styles pour le conteneur principal */
.main-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Styles pour la section de localisation */
.localisation {
	background-color: white;
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

/* Styles pour l'emplacement de la localisation */
.localisation-emplacement {
	background-color: #f0f0f0;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
  color: #000000;
	font-size: 16px;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
}

.localisation-emplacement i {
	width: 12px;
	height: 16px;
	margin-top: 15px;
}

.localisation-emplacement span {
	margin-left: 10px;
	margin-top: 15px;
	text-align: center;
}

/* Styles pour la section expliquant le fonctionnement */
.container-buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.container-buttons buttons {
	background-color: #ffffff;
}
/* Ajout des cercles pour les chiffres */
.circle {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #9356dc;
	color: white;
	text-align: center;
	line-height: 24px; 
	margin-bottom: 10px;
}

/* Styles pour la section des restaurants */
.restaurants card {
	padding: 20px;
	border: none;
}

/* Styles pour le conteneur des cartes de restaurant */
.card-container card {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: none;
}

/* Styles pour chaque carte de restaurant */
.card {
	margin: 10px;
	border-radius: 15px;
	overflow: hidden; /* Cache tout débordement de contenu */
}

/* Styles pour les images des cartes */
.card img {
	width: 346px;
	height: 231px;
	border: none;
}
.card h3 {
  color: #000000;
}
/* Styles pour le pied de page */

.footer {
   width: 375PX;
  height: 186px;
	background-color: rgba(53, 53, 53, 1);
	padding: 20px;
  text-align: left;
	color: #fff;
	// list-style-type: none;
}
.footer h3  {
  color:white;
  text-align: left;
  font-family: " Shrikhand, ", italic;
  font-weight: 700;
	font-size: 18px;
  width: 137.58px;
  height: 27px;
  gap: 0px;
 line-height: 26.24px;

}
.footer i  {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 15px;
  align-items: left;
}
.footer a  {
  color: #fff;
  margin-right: 20px;
  margin-bottom: 15px;
  text-align: left;
}

