/* Import de chaque police de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");

/* Media query pour les écrans de moins de 768px */
@media screen and (min-width: 320px) and (max-width: 768px) {
	.column {
		width: 30%; /* Pour les petites écrans, les colonnes occupent toute la largeur */
		padding: 0.9375rem 0;
	}
}

/* Media query pour les écrans de 1000px à 1400px */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .restaurants {
        max-width: 100%;
        padding: 1.875rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
body {
     box-sizing: border-box;
     background-color: #fff;
	 width: auto;
	 height: auto;
}
img {
    width: 100%;
    height: auto;
}

.main-title h1 {
	width: 197px;
	height: 36px;
	box-sizing: border-box;
}
/* Styles globaux pour le corps du document */
.main-container h1 {
	background-color: white;
	width: 375px;
	height: 63px;
	box-sizing: border-box;
}

.main-container h2 {
	width: 275px;
	height: 31px;
	top: 448px;
    margin-left: 20px;
	font-family: "Roboto", sans-serif; /* Applique Roboto comme police principale */
	font-size: 27.5px;
	color: #000000;
}

.main-container-buttons p {
	width: 315px;
	height: 46px;
	font-weight: 300;
	margin: 0.5rem auto 1.75rem auto; /* Centrer le paragraphe lui-même */
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 21.09px;
	color: #000000;
	text-align: center; 
	display: flex;
	justify-content: center; 
	align-items: center; 
	box-sizing: border-box; /* S'assure que les dimensions prennent en compte padding et border */
}

.main-container-buttons {
	background-color:#F5F5F5;
}

h1 {
	font-family: "Shrikhand", italic; /* Applique Shrikhand pour les titres */
	width: 197px;
	height: 36px;
	top: 14px; 
	left: 89px;
	margin-bottom: 0; 
}

.main-container-buttons h2 {
	width: 275px;
	height: 68px;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-left: 42px;
	margin-top:0; 
	box-sizing: border-box; 
}

h3 {
    font-family: "Roboto", sans-serif; /* Applique Roboto comme police principale */
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.container-buttons {
	margin-right: 1.25rem;
    margin-left: 1.25rem;
    padding: 1.625rem 0 1.5rem
}

.container-buttons p {
    font-family: "Roboto"; /* Applique Roboto comme police principale */
    font-weight: bold;
    font-size: 17px;
	text-align: center; 
    color: #000000;
}

li {
	list-style-type: none;
}

/* Styles pour le conteneur principal */
.main-container {
	max-width: 1400px;
	margin: auto;
}

/* Styles pour la section de localisation */
.localisation {
	background-color: white;
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* Styles pour l'emplacement de la localisation */
.localisation-emplacement section{
	width: 375px;
	height: 50px;
	top: -35px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 16px;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	background-color: #D3D3D3;
}
.localisation-emplacement p {
	width: 315px;
	height: 46px;
	margin-top: 220px;
	margin-left: 34px;
	font-size: 18px;
}
.localisation-emplacement i {
	width: 12px;
	height: 16px;
	margin-top: 15px;
}

.localisation-emplacement strong {
	margin-left: 10px;
	margin-top: 15px;
	text-align: center;
	
}

/* Styles pour la section expliquant le fonctionnement */
.fonctionnement-service h2 {
	width: 275px;
	height: 31px;
	top: 448px;
	left: 20px;
	font-family: "Roboto", sans-serif;
	font-weight:700 ;
	font-size: 24px;
	line-height: 28.13px;
}


.restaurants card {
	width: 340px;
	height: 1058px;
	top: 942px;
	left: 17px;
	gap: 18px;
	
}
/* Appliquer la taille et le style de base à chaque bouton */
.buttons-restaurant, .buttons-menu, .buttons-degustez {
	width: 335px;
	height: 72.38px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin: 10px 0;
	background-color: #fff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* Style pour les cercles numérotés */
.circle {
	 display: inline-block;
	 width: 24px;
	 height: 24px;
	 border-radius: 50%;
	 position: absolute;
	 left: 1rem;
	 background-color: #9356dc !important;
	 color: white;
	 font-size: 16px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-bottom: 8px;
}


/* Style des paragraphes */
p {
	font-size: 14px;
	color: #555;
	margin: 0;
}

/* Styles des icônes */

.buttons-restaurant i {
	width: 13.02px;
	height: 19.9px;
	color: #333;
	margin-bottom: 5px; 
	padding: 0 1rem;
   
}
.buttons-menu i {
	width: 16px;
	height: 15.92px;
	color: #333;
	margin-bottom: 5px; 
	padding: 0 1rem;
}
.buttons-degustez i {
	width: 18px;
	height: 17.91px;
	color: #333;
	margin-bottom: 5px; 
	padding: 0 1rem;
}


/* Styles pour le conteneur des cartes de restaurant */
.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: none;
	width: Fixed (340px)px;
height: Hug (1,058px)px;
top: 942px;
left: 17px;
gap: 18px;
opacity: 0px;

}

/*Style pour les badges nouveau*/

.card-nouveau {
	position: absolute;
	top: 2rem;
	right: 2rem;
	background-color: #99e2d0;
	color: #278870;
	font-weight: bold;
	padding: 0.375rem 0.75rem;
	border-radius: 0.125rem;
	text-align: center;
	 width: 80px;
	height: 29px;
 }
/* Styles pour chaque carte de restaurant */
.card {
	 display: block;
	 margin: auto;
	 width: 340px;
	 height: 251px;
	 position: relative;
	 border-radius: 15px;
	 top:-17px;
}

/* Styles pour les images des cartes */
/* Cible l'image à l'intérieur de l'article de classe card */
.card img {
   
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
    height: 11.75rem;             
    width: 100%;                  
}
.card article {
	margin-left: 10px;
	margin-right: 10px;
}

.card h3 {
	color: #000000;
	width: 267px;
	margin-top: 10px; /* Ajustement de l'espacement supérieur */
	margin-bottom: 5px; /* Espacement entre le h3 et le p */
	opacity: 1; /* Rendre le titre visible */
 }
  
  .card p {
	width: 247px;
	margin-top: 0; /* Supprime l'espacement supérieur par défaut */
	margin-bottom: 35px; /* Espacement en bas de l'élément */
	opacity: 1; /* Rendre le paragraphe visible */
	display: block;
  }
  

/* Styles pour le pied de page */
.footer {
	width: 375px;
	height: 186px;
	background-color: rgba(53, 53, 53, 1);
	padding: 20px;
	text-align: left;
	color: #fff;
}

.footer h3 {
	color: white;
	text-align: left;
	font-family: "Roboto", italic;
	font-weight: 700;
	font-size: 16px;
}

.footer i {
	color: #fff;
	margin-right: 10px;
	margin-bottom: 15px;
}

.footer a {
	color: #fff;
	margin-right: 20px;
	margin-bottom: 15px;
}

.footer ul {
	padding-left: 0px;
}

.footer li {
	height: 25px;
}
